.row{
    display: flex;
    justify-content: center;
}
form{
    margin-left: 10px;
    margin-top: 200px;
    background-color: aqua;
    padding: 20px;

}
.form-group{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}